In [2]:
import pandas as pd
from pandas.tseries.offsets import MonthEnd
from sqlalchemy import create_engine
from binance.client import Client
from time import sleep
#import pymysql
import config

In [3]:
client = Client(config.api_key,config.api_secret)

Connection to SQL

In [4]:
engine = create_engine("sqlite:///Cointest.db")
#engine = create_engine(f"mysql+pymysql://root:{config.mysql_pass}@localhost:3306")

In [5]:
def getdata(symbol,start):
    end = str(pd.to_datetime(start) + MonthEnd(0)) #Setting end of month
    frame = pd.DataFrame(client.get_historical_klines(symbol,
                                                      "1m",
                                                      start,end))
    frame = frame.iloc[:,:6]
    frame.columns = ["Time","Open","High","Low","Close","Volume"]
    frame.set_index("Time",inplace=True)
    frame.index = pd.to_datetime(frame.index,unit="ms")
    frame = frame.astype(float)
    return frame

In [6]:
getdata("BTCUSDT","2023-01-01") #test

                         Open      High       Low     Close     Volume
Time
2023-01-01 00:00:00  16541.77  16544.76  16538.45  16543.67   83.08143
2023-01-01 00:01:00  16543.04  16544.41  16538.48  16539.31   80.45300
2023-01-01 00:02:00  16539.31  16541.17  16534.52  16536.43   62.90197
2023-01-01 00:03:00  16536.43  16537.28  16531.00  16533.65  115.71894
2023-01-01 00:04:00  16534.12  16536.08  16527.51  16535.38  144.45369
...                       ...       ...       ...       ...        ...
2023-01-29 16:21:00  23543.43  23574.93  23542.75  23570.09  285.24177
2023-01-29 16:22:00  23570.60  23572.41  23555.02  23557.23  206.29731
2023-01-29 16:23:00  23557.23  23566.16  23544.34  23561.29  193.92908
2023-01-29 16:24:00  23561.29  23572.74  23554.77  23558.63  203.36933
2023-01-29 16:25:00  23558.67  23559.03  23550.27  23551.98   47.10507

[41306 rows x 5 columns]

In [7]:
coins = ('BTCUSDT','ETHUSDT')
         #'BNBUSDT','SOLUSDT','ADAUSDT','XRPUSDT','DOTUSDT','LUNAUSDT','DOGEUSDT','AVAXUSDT','SHIBUSDT','MATICUSDT','LTCUSDT','UNIUSDT','ALGOUSDT','TRXUSDT','LINKUSDT','MANAUSDT','ATOMUSDT','VETUSDT')

Range to iterate over wit get_data()

In [8]:
daterange = pd.date_range("2023-01-01", pd.to_datetime("today"), freq="MS")

In [9]:
for coin in coins:
    for date in daterange:
        print(f"Processing {date.month_name()} for {coin}") # Extract month name
        df = getdata(coin,str(date))
        df.to_sql(coin,engine, if_exists="append", index=True) # Table name = coin
        sleep(45) #Avoid API overload
    print(f"Finished {coin}")

Processing January for BTCUSDT
finished BTCUSDT
Processing January for ETHUSDT
finished ETHUSDT