In [28]:
import pandas as pd
from pandas.tseries.offsets import MonthEnd
from sqlalchemy import create_engine
from binance.client import Client
from time import sleep
#import pymysql
import config

In [29]:
client = Client(config.api_key,config.api_secret)

Connection to SQL

In [30]:
engine = create_engine("sqlite:///Cointest.db")
#engine = create_engine(f"mysql+pymysql://root:{config.mysql_pass}@localhost:3306")

In [31]:
def getdata(symbol,start):
    end = str(pd.to_datetime(start) + MonthEnd(0)) #Setting end of month
    frame = pd.DataFrame(client.get_historical_klines(symbol,
                                                      "1m",
                                                      start,end))
    frame = frame.iloc[:,:6]
    frame.columns = ["Time","Open","High","Low","Close","Volume"]
    frame.set_index("Time",inplace=True)
    frame.index = pd.to_datetime(frame.index,unit="ms")
    frame = frame.astype(float)
    return frame

In [32]:
getdata("BTCUSDT","2023-01-01") #test

                         Open      High       Low     Close     Volume
Time
2023-01-01 00:00:00  16541.77  16544.76  16538.45  16543.67   83.08143
2023-01-01 00:01:00  16543.04  16544.41  16538.48  16539.31   80.45300
2023-01-01 00:02:00  16539.31  16541.17  16534.52  16536.43   62.90197
2023-01-01 00:03:00  16536.43  16537.28  16531.00  16533.65  115.71894
2023-01-01 00:04:00  16534.12  16536.08  16527.51  16535.38  144.45369
...                       ...       ...       ...       ...        ...
2023-01-29 18:06:00  23580.60  23585.00  23563.70  23567.91  153.55240
2023-01-29 18:07:00  23567.91  23572.96  23560.00  23561.85  147.39835
2023-01-29 18:08:00  23561.85  23572.95  23560.00  23564.85  135.88725
2023-01-29 18:09:00  23564.45  23567.47  23537.73  23545.36  328.01366
2023-01-29 18:10:00  23544.24  23556.63  23536.65  23546.18  228.77960

[41411 rows x 5 columns]

In [33]:
coins = ('BTCUSDT','ETHUSDT')
         #'BNBUSDT','SOLUSDT','ADAUSDT','XRPUSDT','DOTUSDT','LUNAUSDT','DOGEUSDT','AVAXUSDT','SHIBUSDT','MATICUSDT','LTCUSDT','UNIUSDT','ALGOUSDT','TRXUSDT','LINKUSDT','MANAUSDT','ATOMUSDT','VETUSDT')

Defining the date range we are interested in

In [34]:
daterange = pd.date_range("2023-01-01", pd.to_datetime("today"), freq="MS")

In [35]:
for coin in coins:
    for date in daterange:
        print(f"Processing {date.month_name()} for {coin}") # Extract month name
        df = getdata(coin,str(date))
        df.to_sql(coin,engine, if_exists="append", index=True) # Table name = coin
        print(f"Finished {date.month_name()} for {coin}")
        sleep(45) #Avoid API overload
    print(f"Finished all months for {coin}")

Processing January for BTCUSDT
Finished January for BTCUSDT
Finished all months for BTCUSDT
Processing January for ETHUSDT
Finished January for ETHUSDT
Finished all months for ETHUSDT

Dealing with duplicates

In [36]:
import ipynb.fs  # Boilerplate required
from .defs.Remove_Duplicates import del_duplicates_database


del_duplicates_database("Cointest.db")