In [4]:
import pandas as pd
from pandas.tseries.offsets import MonthEnd
from sqlalchemy import create_engine
from binance.client import Client

from config import  api_key,api_secret

In [5]:
client = Client(api_key,api_secret)

def getdata(symbol,start):
    end = str(pd.to_datetime(start) + MonthEnd(0)) #Setting end of month
    frame = pd.DataFrame(client.get_historical_klines(symbol,
                                                      "1m",
                                                      start,end))
    frame = frame.iloc[:,:6]
    frame.columns = ["Time","Open","High","Low","Close","Volume"]
    frame.set_index("Time",inplace=True)
    frame.index = pd.to_datetime(frame.index,unit="ms")
    frame = frame.astype(float)
    return frame

In [6]:
getdata("BTCUSDT","2023-01-01")

                         Open      High       Low     Close     Volume
Time
2023-01-01 00:00:00  16541.77  16544.76  16538.45  16543.67   83.08143
2023-01-01 00:01:00  16543.04  16544.41  16538.48  16539.31   80.45300
2023-01-01 00:02:00  16539.31  16541.17  16534.52  16536.43   62.90197
2023-01-01 00:03:00  16536.43  16537.28  16531.00  16533.65  115.71894
2023-01-01 00:04:00  16534.12  16536.08  16527.51  16535.38  144.45369
...                       ...       ...       ...       ...        ...
2023-01-24 23:21:00  22471.65  22549.94  22468.39  22536.34  704.32381
2023-01-24 23:22:00  22533.29  22536.42  22472.85  22488.42  500.10019
2023-01-24 23:23:00  22488.42  22588.02  22488.42  22569.13  653.45828
2023-01-24 23:24:00  22570.38  22595.00  22549.74  22553.63  468.43687
2023-01-24 23:25:00  22553.63  22600.00  22548.77  22590.41  227.14320

[34526 rows x 5 columns]

In [7]:
coins = ('BTCUSDT','ETHUSDT','BNBUSDT','SOLUSDT','ADAUSDT','XRPUSDT','DOTUSDT','LUNAUSDT','DOGEUSDT','AVAXUSDT','SHIBUSDT','MATICUSDT','LTCUSDT','UNIUSDT','ALGOUSDT','TRXUSDT',
         'LINKUSDT','MANAUSDT','ATOMUSDT','VETUSDT')