In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("Cointest.db")

cursor = conn.cursor()

Getting the table names from the database

In [8]:
cursor.execute("SELECT name FROM  sqlite_master WHERE type='table'") # SQL query to retrieve the names
table_names =cursor.fetchall()

[('BTCUSDT',), ('ETHUSDT',), ('BNBUSDT',), ('SOLUSDT',)]

In [12]:
for i in range(len(table_names)):
    table_names[i] = table_names[i][0] #Extract the string from the tuple

In [13]:
table_names

['BTCUSDT', 'ETHUSDT', 'BNBUSDT', 'SOLUSDT']

In [14]:
for table in table_names:
    cursor.execute(f"CREATE TABLE {table}_unique AS SELECT DISTINCT * FROM {table}")
    conn.commit()
    cursor.execute(f"DROP TABLE {table}")
    conn.commit()
    cursor.execute(f"ALTER TABLE {table}_unique RENAME TO {table}")
    conn.commit()

Remove Duplicates

--SQL commands <br>

-- Create copy without duplicates <br>
CREATE TABLE table_unique AS
SELECT DISTINCT * FROM table; 

-- Remove table with duplicates <br>
DROP TABLE table;

-- Rename copy table <br>
ALTER TABLE table_unique RENAME TO table;